<p id="notice"><%= notice %></p>

<h1>Tasks</h1>
<% if user_signed_in?%>

<% @todos.each_slice(3) do |todos| %>
  <div class="card-deck">
    <% todos.each do |todo| %>
    <div class="card">
      <img src="<%= todo.task.photo %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= todo.task.name %></h5>
        <p><%= link_to "Listo", todo_path(todo), class: 'btn btn-success btn-outline', method: :patch %></p>
        <%= link_to 'Show', todo, class: 'btn btn-sm btn-primary' %>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= time_ago_in_words task.created_at %></small>
      </div>
    </div>

    <% end %>
    </div>
<br>
<% end %>

<%else%>
<% @tasks.each_slice(3) do |tasks| %>
  <div class="card-deck">
    <% tasks.each do |task| %>
    <div class="card">
      <img src="<%= task.photo %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= task.name %></h5>
        <p><%= link_to "Listo", todo_path(task), class: 'btn btn-success btn-outline', method: :patch %></p>
        <%= link_to 'Show', task, class: 'btn btn-sm btn-primary' %>
         <%= link_to 'Edit', edit_task_path(task), class: 'btn btn-sm btn-warning' %>
         <%= link_to 'Destroy', task, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-sm btn-danger' %>
      </div>
      <div class="card-footer">
        <small class="text-muted"><%= time_ago_in_words task.created_at %></small>
      </div>
    </div>

    <% end %>
    </div>
<br>
<% end %>
<%end%>
