<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @task.photo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>


<strong> Ha sido completada por: </strong>
<br>
<% @all_users.each do |user| %>
  <%= user.name %>

  <br>
<%end%>
<br>
<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
